[project]
	description = "mirrored from https://cr.deepin.io/#/admin/projects/dtkwidget"
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/zhangshuoliang (SLZhang-CUG)
[access "refs/for/refs/*"]
	read = group user/zhangshuoliang (SLZhang-CUG)
	push = group user/zhangshuoliang (SLZhang-CUG)
	label-Code-Review = -2..+2 group user/zhangshuoliang (SLZhang-CUG)
	label-Verified = -1..+1 group user/zhangshuoliang (SLZhang-CUG)
	rebase = group user/zhangshuoliang (SLZhang-CUG)
	removeReviewer = group user/zhangshuoliang (SLZhang-CUG)
	submit = group user/zhangshuoliang (SLZhang-CUG)
[access "refs/heads/*"]
	read = group user/zhangshuoliang (SLZhang-CUG)
	create = group user/zhangshuoliang (SLZhang-CUG)
	push = +force group user/zhangshuoliang (SLZhang-CUG)
	pushMerge = group user/zhangshuoliang (SLZhang-CUG)
[access "refs/tags/*"]
	push = +force group user/zhangshuoliang (SLZhang-CUG)
	pushTag = group user/zhangshuoliang (SLZhang-CUG)
	pushSignedTag = group user/zhangshuoliang (SLZhang-CUG)
